body{
    background-color: white;
}

.card {
    width: 420px;
    border: 5px solid yellowgreen;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position:relative;
    font-size: 35px;
    margin-left: 40px;
  }



  .container {
    flex-wrap: wrap;
    display: flex;
    overflow: hidden;
    
  }

  .band-annonce{
   margin-top: 20px;
  }

  .image{
    height: 500px;
    width: 400px;
    position:relative
  }